.navbar-logo {
    width: 65px;
    height: auto;
  }
  
.navbar-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
  
.navbar-links {
    display: flex;
    gap: 0px;
    margin-right: auto;
}
  
.navbar-auth {
    display: flex;
    gap: 10px;
}

.navbar-auth .register {
    background-color: rgb(2, 167, 161);
}

.singup-button {
    background-color: #02A7A1;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 4px;
    border: none;
}

.login-button {
    background-color: #02A7A1;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.login-button:hover {
    background-color: #A4326C;
}

.custom-link {
    position: relative;
    text-decoration: none; /* Remueve el subrayado predeterminado */
}
  
.custom-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000; 
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
  
.custom-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}